* {
  font-family: 'Vollkorn', serif;
}
img {
  padding-bottom: 15px;
}
.container {
  padding-top: 100px;
}

.form-control {
  border-color: #5DE89D;
  font-weight: 600;
}

.key {
  font-weight: 700;
}

#drinkResults {
  display: none;
}

td, th {
  padding-top: 0px !important;
  padding-bottom: 0px !important;

}
